## .NET
bin/
obj/
*.user
*.suo
.vs/
*.log
logs/

## Sensitive
appsettings.Development.json
appsettings.Local.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/

## NuGet
*.nupkg
.nuget/
packages/
!**/packages/repositories.config
